.navbar {
    display: flex;
    justify-content: space-around;
}

.links {
    display: flex;
    gap: 20px;
}

.header-content {
    display: flex;
    justify-content: center;
}

.dog {
    min-height: 100px;
    width: 100px;
}

.img-text {
    border: 2px solid blue;
}