
.navbar {
    display: flex;
    justify-content: space-around;
}

.links {
    display: flex;
    gap: 20px;
}

.header-content, h3 {
    display: flex;
    justify-content: center;
}

.header-cat {
    min-height: 100px;
    width: 100px;
}

.info {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.img-text {
    border-radius: 10%;
    height: 150px;
    max-width: 150px;
}

.cat {
    height: 150px;
    width: 150px;
}

.quote {
    display: block;
    text-align: center;
    margin-top: 200px;
    height: 200px;
}
 